# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
import pandas as pd
import io
import requests
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
s=requests.get(url).content
chipo=pd.read_csv(io.StringIO(s.decode('utf-8')), sep = '\t')
    
# chipo = pd.read_csv(url, sep = '\t')

In [4]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [14]:
# chipo.item_price = [float(value[1:-1]) for value in chipo.item_price] # removing the dollar sign and trailing space

chipo_filtered = chipo.drop_duplicates(['item_name', 'quantity', 'choice_description'])

chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]

chipo_one_prod[chipo_one_prod.item_price > 10].item_name.nunique()

25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [21]:
chipo_filtered = chipo.drop_duplicates(['item_name', 'quantity'])
temp = chipo_filtered[chipo_filtered.quantity == 1]

temp.loc[:, ['item_name', 'item_price']].sort_values(['item_name'], ascending = False).reset_index()

    index                              item_name  item_price
0     738                      Veggie Soft Tacos       11.25
1     186                      Veggie Salad Bowl       11.25
2    1694                           Veggie Salad        8.49
3    1653                    Veggie Crispy Tacos        8.49
4      57                         Veggie Burrito       11.25
5      62                            Veggie Bowl       11.25
6       8                       Steak Soft Tacos        9.25
7     606                       Steak Salad Bowl       11.89
8     664                            Steak Salad        8.99
9      92                     Steak Crispy Tacos        9.25
10      7                          Steak Burrito       11.75
11     54                             Steak Bowl        8.99
12      6                          Side of Chips        1.69
13   1414                                  Salad        7.40
14      2                       Nantucket Nectar        3.39
15      1                                   Izze        3.39
16    520                           Crispy Tacos        7.40
17    300    Chips and Tomatillo-Red Chili Salsa        2.39
18      3  Chips and Tomatillo-Green Chili Salsa        2.39
19    111    Chips and Tomatillo Red Chili Salsa        2.95
20     38  Chips and Tomatillo Green Chili Salsa        2.95
21    191     Chips and Roasted Chili-Corn Salsa        2.39
22    233     Chips and Roasted Chili Corn Salsa        2.95
23    674      Chips and Mild Fresh Tomato Salsa        3.00
24     10                    Chips and Guacamole        4.45
25      0           Chips and Fresh Tomato Salsa        2.39
26     40                                  Chips        2.15
27     12                     Chicken Soft Tacos        8.75
28     44                     Chicken Salad Bowl        8.75
29    250                          Chicken Salad       10.98
30     11                   Chicken Crispy Tacos        8.75
31     16                        Chicken Burrito        8.49
32      5                           Chicken Bowl       10.98
33    237                    Carnitas Soft Tacos        9.25
34   1132                    Carnitas Salad Bowl       11.89
35   3750                         Carnitas Salad        8.99
36    554                  Carnitas Crispy Tacos        9.25
37     27                       Carnitas Burrito        8.99
38     33                          Carnitas Bowl        8.99
39    263                      Canned Soft Drink        1.25
40     28                            Canned Soda        1.09
41    510                                Burrito        7.40
42    673                                   Bowl        7.40
43     34                          Bottled Water        1.09
44     56                    Barbacoa Soft Tacos        9.25
45   1229                    Barbacoa Salad Bowl       11.89
46    168                  Barbacoa Crispy Tacos       11.75
47     21                       Barbacoa Burrito        8.99
48     39                          Barbacoa Bowl       11.75
49    298                      6 Pack Soft Drink        6.49

### Step 6. Sort by the name of the item

In [23]:
# chipo.sort_values(['item_name'])

chipo.item_name.sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

In [28]:
chipo.sort_values(['item_price'], ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [30]:
chipo[chipo.item_name == 'Veggie Salad Bowl'].quantity.sum()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [32]:
chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64